{% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} komentarz{{ total_comments|pluralize:"y" }}
    </h2>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Komentarz {{ forloop.counter }} dodany przez {{ comment.name }}
            {{ comment.created }}</p> {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <p>Nie ma jeszcze żadnych komentarzy.</p>
{% endfor %}

{% if new_comment %}
    <h2>Twój komentarz został dodany.</h2>
{% else %}
    <h2>Dodaj nowy komentarz</h2>
    <form method="post">
        {{ comment_form.as_p.as_table }}
        {% csrf_token %}
        <p><input type="submit" value="Dodaj komentarz"></p>
    </form>
{% endif %}
