body {
    margin:0;
    padding: 10px 10px 10px;
    font-family:helvetica, sans-serif;
}

a {
    color:#3912b0;
    text-decoration:none;
}

h1 {
    font-size: 40px;
    letter-spacing: -0.4px;
    word-spacing: -4.6px;
    color: #000000;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

h2 {
    font-size: 15px;
    letter-spacing: 1.4px;
    word-spacing: -1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding-bottom: 10px;
    
}

#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
}

#sidebar {
    float:right;
    width:30%;
    padding:10px;
    background:#efefef;
    height:100%;
}

p.date {
    color:#4d4d4c;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
.image-list {
    display: block;
    max-width:100%;
    height:auto;
    fill-rule: evenodd;
}
.image-article {
    max-width:100%;
    height:auto;
    padding-bottom: 40px;
}
.category-details {
    font-weight:bold;
    background:#4e555b;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.logo {
    width: 50%;
    max-width: 100px;
    height: auto;
}
.photo-alignment {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 0;
}
.notify-badge-news{
    position: absolute;
    left:-20px;
    top:10px;
    background:#b21f2d;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}
.notify-badge-sport{
    position: absolute;
    left:-20px;
    top:10px;
    background:#4d9200;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}
.notify-badge-electronics{
    position: absolute;
    left:-20px;
    top:10px;
    background:#1d2124;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}
.notify-badge-politics{
    position: absolute;
    left:-20px;
    top:10px;
    background:#87711d;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}
.notify-badge-literature{
    position: absolute;
    left:-20px;
    top:10px;
    background:#0c5460;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}
.author-article-details{
    color:#4d4d4c;
    font-weight: 900;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
    padding-top: -10px;
}
.image-author{

}