
{% with similar_articles as similar_articles %}
    <h3>Może Cię zainteresować: </h3>
    {% for article in similar_articles %}
    <div class="container responsive">
            <div class="row">

                <a href="{{ article.get_absolute_url }}">
                    <div class="photo-alignment gallery">
                        <img src="{{ article.image.url }}" class="sidebar-artdet-img">
                    </div>
                </a>

                <a href="{{ article.get_absolute_url }}" class="sidebar-href">
                    {{ article.title }}
                </a>

            </div>
        </div>
    {% endfor %}
{% endwith %}