{#{% with artilice_list.count as articles %}#}
{#    {% for article in articles %}#}
{#        {{ article.title }}#}
{#        <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-sm-3 photo-alignment">#}
{#                <img src="{{ article.image.url }}" class="image-list filtered">#}
{#            </div>#}
{#            <div class="col-sm-9">#}
{#                <h2>#}
{#                    <a href="{{ article.get_absolute_url }}">#}
{#                        {{ article.title }}#}
{#                    </a>#}
{#                </h2>#}
{##}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endwith %}#}