{% extends '_base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <p class="category-details">{{ article.category }}</p>
    <h1>{{ article.title }}</h1>
    <p class="author-article-details">{{ article.author }}</p>
    <p class="date">{{ article.publish }}</p>
    <h2>{{ article.lead }}</h2>
    <img src="{{ article.image.url }}" class="image-article" alt="">

    {{ article.body|safe }}

    <hr>
    {% if article.tags %}
        <p class="tags"> Tags:
            {% for tag in article.tags.all %}
                <a href="{% url "articles:article_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}


{% endblock %}

{% block sidecontent %}
    {% include 'articles/_side_content.html' %}
{% endblock %}

{% block comments %}
    {% include '_comments.html' %}
{% endblock %}

