{% extends "_base.html" %}
{% block title %}Blog Firmowy{% endblock %}
{% block content %}
    <h3>Najnowsze artykuły</h3>
    {% for article in articles %}
        <hr>

        <p><img src="{{ article.image.url }}" class="image-list">
        <h2>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a>
        </h2></p>
        <p class="date">
            Opublikowany {{ article.publish }} przez {{ article.author }}
        </p>
        {{ article.lead|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include 'articles/_paginator.html' with page=articles %}
{% endblock %}
